{
  "presets": [
    "env",
    "react",
    "es2017"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@src": "./src",
          "@scenes": "./src/scenes",
          "@services": "./src/services",
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}